<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>newexample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>TestServelet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Budget</display-name>
    <servlet-name>Budget</servlet-name>
    <servlet-class>budget.Budget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Budget</servlet-name>
    <url-pattern>/Budget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemeDecoration</display-name>
    <servlet-name>ThemeDecoration</servlet-name>
    <servlet-class>themed.ThemeDecoration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemeDecoration</servlet-name>
    <url-pattern>/ThemeDecoration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>Signup.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCart</display-name>
    <servlet-name>AddtoCart</servlet-name>
    <servlet-class>addtocart.AddtoCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCart</servlet-name>
    <url-pattern>/AddtoCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailTLS</display-name>
    <servlet-name>SendMailTLS</servlet-name>
    <servlet-class>sendmailtls.SendMailTLS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailTLS</servlet-name>
    <url-pattern>/SendMailTLS</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>CartController11</display-name>
    <servlet-name>CartController11</servlet-name>
    <servlet-class>cartcontroller.CartController11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController11</servlet-name>
    <url-pattern>/CartController11</url-pattern>
  </servlet-mapping>
</web-app>